@model IEnumerable<SuperbrainManagement.Models.Schedule>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {

    <script>

        function closeModalAndReloadPage() {
            // Đóng modal
            $('#exampleModal').modal('hide');

            // Làm mới trang
            location.reload();
        }

        function updateCheckboxValue(checkbox) {
            // Kiểm tra xem checkbox có được chọn hay không
            var value = checkbox.checked ? true : false;

            // Gán giá trị cho checkbox
            checkbox.value = value;

            // In giá trị của checkbox ra console để kiểm tra
            console.log("Checkbox value updated to: " + value);
        }
        function SaveChange() {
    // Prevent form submission


    // Create a new instance of the Vehicle class and populate its properties

    // Create an array to hold permissions
    var Permissions = [];

    // Populate the permissions array with data from form inputs
    $(".permission").each(function () {
        var permission = {
            IdEmployee: $(this).find(".IdEmployee").val(),
            IdClass: $(this).find(".IdClass").val(),
            IdRoom: $(this).find(".IdRoom").val(),
            IdUser: $(this).find(".IdUser").val(),
            IdWeek: $(this).find(".IdWeek").val(),
            Active: $(this).find(".Active").val()
        };
        Permissions.push(permission);
    });



    // AJAX request to submit the data
    $.ajax({
        type: "POST",
        url: '@Url.Action("updateActive", "Schedules2")', // Replace with your controller's action method URL
        data: JSON.stringify(Permissions),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (response) {
            // Handle the response from the controller if needed
            console.log("Data submitted successfully to the controller.");
            console.log("Response from the controller:", response);
            closeModalAndReloadPage();

        },
        error: function (xhr, status, error) {
            // Handle errors here
            console.error("Error submitting data to the controller:", status, error);
        }
    });

        };
        function show() {
            alert('Cập nhật thành công');
        };
    </script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css"
          integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

}

<div class="row">
    <div class="col col-md-4 col-sm-12">
        <form action="/Branches" method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="searchString" placeholder="Tìm kiếm" value="@ViewBag.CurrentFilter ">
                <button class="input-group-text bg-success" id="basic-addon2" type="submit"><i class="ti ti-search text-white"></i></button>
            </div>
        </form>
    </div>
    <div class="col col-md-8 col-sm-12 text-right" style="text-align:right;">
        <div class="me-0 btn btn-md p-0">
            <button class="btn btn-md btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="ti ti-arrows-sort"></i> Sắp xếp theo
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="@Url.Action("Index", new { sortOrder = "name", currentFilter = ViewBag.CurrentFilter, searchString = ViewBag.CurrentFilter })"><i class="ti ti-sort-a-z"></i> Tên A-Z</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", new { sortOrder = "name", currentFilter = ViewBag.CurrentFilter, searchString = ViewBag.CurrentFilter })"><i class="ti ti-sort-a-z"></i> Tên A-Z</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", new { sortOrder = "name_desc", currentFilter = ViewBag.CurrentFilter, searchString = ViewBag.CurrentFilter })"><i class="ti ti-sort-z-a"></i> Tên Z-A</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", new { sortOrder = "date", currentFilter = ViewBag.CurrentFilter, searchString = ViewBag.CurrentFilter })"><i class="ti ti-sort-ascending"></i> Mới nhất</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", new { sortOrder = "date_desc", currentFilter = ViewBag.CurrentFilter, searchString = ViewBag.CurrentFilter })"><i class="ti ti-sort-descending"></i> Cũ nhất</a></li>
            </ul>
        </div>
        <a href="" class="btn btn-md btn-outline-success"><i class="ti ti-upload"></i></a>
        <a href="" class="btn btn-md btn-outline-danger"><i class="ti ti-download"></i></a>
        <a href="/branches/create" class="btn btn-md btn-success ms-0"><i class="ti ti-circle-plus"></i> Thêm mới</a>
    </div>
</div>
<table class="table fs-3">
    <thead class="bg-success text-white rounded-1">
        <tr>
            <th class="text-center">STT</th>
            <th class="text-center">TÊN LỚP</th>
            <th>DIỆN GIẢI</th>
            <th>THỜI KHÓA BIỂU</th>
            <th>SỈ SỐ</th>
            <th>CHỨC NĂNG</th>
        </tr>
    </thead>


    @{
        int a = 1;
    }
    @foreach (var item in Session["datasche"] as List<SuperbrainManagement.Controllers.Schedules2Controller.SchedulesRes>)
    {
        <tr>
            <td class="text-center">
                @a
            </td>
            <td class="text-center">
               
                @Html.DisplayFor(modelItem => @item.NameClass)
            </td>
            <td>
              1
            </td>
            <td>
                @Html.DisplayFor(modelItem => @item.allSchedules)
            </td>
            <td>
              1
            </td>
           
            <td>
                <a href="" class="me-1"><i class="ti ti-edit text-primary"></i></a>
                <a href="" class="me-1"><i class="ti ti-trash text-danger"></i></a>
                <a class="text-warning" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ti ti-dots-vertical"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="ti ti-settings"></i> Thời khóa biểu</a></li>
                  
                </ul>
            </td>
        </tr>
        a++;
    }
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="margin-top: 100px;width: 1200px;margin-left: -300px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cập nhật Thời Khóa Biểu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">

                    <tr>
                        <th>KÍCH HOẠT</th>
                        <th>TÊN</th>
                        <th>TỪ GIỜ</th>
                        <th>ĐẾN GIỜ</th>
                        <th>GIÁO VIÊN</th>
                        <th>PHÒNG HỌC</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr class="permission">
                            <td>
                                <input class="Active" onclick="updateCheckboxValue(this)" value="@(item.Active.HasValue && item.Active.Value ? true:false)" type="checkbox" @(item.Active.HasValue && item.Active.Value ? "checked" : "") />
                                <input class="IdUser" value="@item.IdUser" hidden />
                                <input class="IdClass" value="@item.IdClass" hidden />
                                <input class="IdWeek" value="@item.IdWeek" hidden />
                            </td>
                            <td>
                                @SuperbrainManagement.Controllers.Schedules2Controller.line_week(Convert.ToInt32(item.IdWeek))
                            </td>
                            <td>
                                <input type="text" value="@SuperbrainManagement.Controllers.Schedules2Controller.ConvertToTimeString(Convert.ToDateTime(item.FromHour))" />

                            </td>
                            <td>
                                <input type="text" value="@SuperbrainManagement.Controllers.Schedules2Controller.ConvertToTimeString(Convert.ToDateTime(item.ToHour))" />
                            </td>
                            <td>


                                <select class="form-control IdEmployee" name="phonghoc0">
                                    @foreach (var item2 in Session["listEmployee"] as List<SuperbrainManagement.Models.Employee>)
                                    {
                                        <option value="@item2.Id" @(item.IdEmployee == item2.Id ? "selected" : "")>@item2.Name</option>
                                    }


                                </select>

                            </td>
                            <td>

                                <select class="form-control IdRoom" name="phonghoc0">
                                    @foreach (var item3 in Session["listRoom"] as List<SuperbrainManagement.Models.Room>)
                                    {
                                        <option value="@item3.Id" @(item.IdRoom == item3.Id ? "selected" : "")>@item3.Name</option>
                                    }


                                </select>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="SaveChange()" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
